.body {
    background-color: #f7f7f7;
    color: black ;
  }

.wrap {
    padding: 2% 20% 1% 20%;
}

/* Header */
.header {
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    justify-content: space-between;
  }

.header-left {
    display: flex;
    align-items: center;
    font-size: 4rem;
    font-weight: 600;
  }

.header-title {
    font-family: "Safira march" !important;
    color: #000;
}

.header-right {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

a {
    font-family: "Raleway", sans-serif;
    text-decoration: none !important;
    color: black !important;
  }

a:hover {
    color: #0e46a3 !important;
  }