.body {
  background-color: #f7f7f7;
  color: black;
  position:absolute;
}

.wrap {
  padding: 2% 15% 2% 15%;
}

@media (max-width: 1440px) {
  .wrap {
    padding: 4% 10% 4% 10%;
  }
}

@media (max-width: 1024px) {
  .wrap {
    padding: 2% 5% 2% 5%;
  }
}

@media (max-width: 768px) {
  .wrap {
    padding: 4% 5% 4% 5%;
  }
}

@font-face {
  font-family: "Safira March";
  src: url("./Safira March.otf") format("opentype");
}

/* Header */

.header {
  display: flex;
  flex-direction: column;
  color: #000;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-weight: 600;
}

.header-title {
  font-size: 40px;
  font-family: "Safira march" !important;
}

.nav-right {
  display: flex;
  gap: 2rem;
  font-size: 30px;
  align-items: center;
}

@media (max-width: 1600px) {
  .nav-right {
    font-size: 20px;
  }

  .header-title {
    font-size: 30px;
    font-family: "Safira march" !important;
  }
}

@media (max-width: 768px) {
  .nav-right {
    display: none;
  }

  .header-container {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .header-title {
    font-size: 20px;
  }
}

a {
  font-family: "Raleway", sans-serif;
  text-decoration: none !important;
  color: black !important;
}

a:hover {
  color: #0e46a3 !important;
}



/* ---------- Hero ---------- */
.hero {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  background-color: #e0e0e0;
  position: relative;
}

.hero-container {
  display: flex;
  padding: 3% 0%;
  gap: 2rem;
}

.hero-left {
  font-weight: 700;
  width: 40%;
}

.hero-image {
  width: 100%;
  border-radius: 10px;
}

.hero-right {
  width: 60%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 50px;
}

.name {
  font-family: "Safira march" !important;
  color: #555050;
  font-weight: 600;
  font-size: 5rem;
  padding-bottom: 30px;
}

.intro {
  font-family: "Safira march" !important;
  font-weight: 500;
  font-size: 5rem;
  padding-bottom: 30px;
}

.desc {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
}

@media (max-width: 1600px) {
  .hero-right {
    padding: 0px 0px;
  }

  .name {
    font-size: 3rem;
  }

  .intro {
    font-size: 3rem;
  }

  .desc {
    font-size: 1.2rem;
  }
}


@media (max-width: 500px) {
  .hero-container {
    flex-direction: column;
    justify-content: center;
  }

  .hero-left {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .hero-image {
    width: 60%;
  }

  .hero-right {
    padding-top: 20px;
    width: 100%;
  }

  .name {
    font-size: 2.5rem;
  }

  .intro {
    font-size: 2.5rem;
  }
}


/* ---------- About ---------- */
.aboutme {
  background-color: #514c4d;
}

.about-container {
  display: flex;
  justify-content: space-between;
  padding: 3% 0%;
}

.about-left {
  padding-top: 10px;
  width: 60%;
  background-color: #8a8686;
  border-radius: 20px;
  margin-right: 20px;
}

.about-left-padding {
  padding: 85px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.about-title {
  font-family: "Safira March";
  color: #f7f7f7;
  font-size: 4rem;
}

.about-desc {
  line-height: 35px;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 2.2rem;
  padding-top: 10px;
  font-family: "Raleway", sans-serif;
  color: #f7f7f7;
}

.about-buttons-container {
  width: 100%;
  display: flex;
  margin-top: 20px;
  gap: 2rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.about-button {
  border-radius: 15px;
  border: none;
  padding: 10px 20px 10px 20px;
  font-family: "Raleway", sans-serif;
  background-color: #514c4d;
  font-size: 2.2rem;
  font-weight: 500;
  color: white;
}

.about-right {
  width: 40%;
  display: flex;
  flex-direction: row;
}

.about-image {
  width: 100%;
  border-radius: 20px;
}

@media (max-width: 1600px) {
  .about-left-padding {
    padding: 15px;
    gap: 2rem;
  }

  .about-title {
    font-size: 2rem;
  }

  .about-desc {
    font-size: 1.2rem;
  }

  .about-button {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .about-left {
    width: 100%;
    margin-right: 0px;
  }

  .about-title {
    font-family: "Safira March";
    font-size: 15px;
    color: #f7f7f7;
  }

  .about-left-padding {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }

  .about-desc {
    font-size: 1.2rem;
  }

  .about-right {
    display: none;
  }

  .about-image {
    width: 100%;
    border-radius: 20px;
  }
}

@media (max-width: 500px) {
  .about-container {
    flex-direction: column;
    justify-content: center;
  }

  .about-left {
    width: 100%;
  }

  .about-right {
    display: none;
  }
}


/* ---------- Tech Stack ---------- */
.techstack-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #e0e0e0;
  padding: 3% 0%;
}

.tech-left {
  font-size: 4rem;
  display: flex;
  font-family: "Safira March";
  justify-content: center;
}

.tech-right {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-direction: column;
}

.tech-row {
  gap: 4rem;
  justify-content: center;
}

.custom-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
}

.card-left {
  background: white;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-left svg {
  width: 70%;
}

@media (max-width: 1600px) {
  .tech-left {
    font-size: 30px;
  }

  .card-left {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 768px) {
  .tech-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .card-left {
    width: 80px;
    height: 80px;
  }

  .card-left svg {
    width: 50%;
  }
}

/* ---------- Projects ---------- */
.project {
  padding-top: 40px;
  display: flex;
  background-color: #514c4d;
  justify-content: center;
}

.project-row {
  padding-top: 40px;
  justify-content: center;
  gap: 5rem;
}

.project-title {
  color: #f7f7f7;
}

* {
  box-sizing: border-box;
}

.card {
  --blur: 16px;
  --size: clamp(250px, 40vmin, 550px);
  width: var(--size);
  aspect-ratio: 4 / 3;
  border-radius: 50px;
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  color: #000;
  transform: translateZ(0);
  cursor: pointer;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(calc(1 + (var(--hover, 0) * 0.25))) rotate(calc(var(--hover, 0) * -5deg));
  transition: transform 0.2s;
}

.card__footer {
  padding: 0 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: red;
  display: grid;
  gap: 0.5ch;
  background: hsl(0 0% 100% / 0.5);
  backdrop-filter: blur(var(--blur));
  height: 30%;
  align-content: center;
}

.card__action {
  position: absolute;
  aspect-ratio: 1;
  width: calc(var(--size) * 0.15);
  bottom: 30%;
  right: 1.5rem;
  transform: translateY(50%) translateY(calc((var(--size) * 0.4))) translateY(calc(var(--hover, 0) * (var(--size) * -0.4)));
  background: purple;
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
  background: hsl(0 0% 100% / 0.5);
  /*   backdrop-filter: blur(calc(var(--blur) * 0.5)); */
  transition: transform 0.2s;
}

.card__action svg {
  aspect-ratio: 1;
  width: 50%;
}

.card__footer span:nth-of-type(1) {
  font-size: calc(var(--size) * 0.065);
}

.card__footer span:nth-of-type(2) {
  font-size: calc(var(--size) * 0.035);
}

.card:is(:hover, :focus-visible) {
  --hover: 1;
}

@media (max-width: 1600px) {
  .card {
    --size: clamp(250px, 10vmin, 550px);
  }
}



/* ---------- Footer ---------- */
.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 3rem;
  width: 60%;
  color: #6a6464;
}

.footer-icons {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  color: #6a6464;
}

.footer-a {
  color: #6a6464 !important;
  font-size: 40px;
}

.footer-card {
  border-radius: 50%;
  border: 2px solid #6a6464;
  justify-content: center;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-title {
  color: #6a6464;
  font-size: 20px;
  font-family: "Safira march" !important;
}

.footer-right {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.copyright {
  font-family: "Raleway", sans-serif;
  font-size: x-large;
}

.icons {
  font-size: 40px;
}

@media (max-width: 1600px) {
  .footer-card {
    width: 40px;
    height: 40px;
  }

  .footer-title {
    font-size: 15px;
  }

  .footer-a {
    color: #6a6464 !important;
    font-size: 20px;
  }

  .icons {
    font-size: 20px;
  }

  .copyright {
    font-size: small;
  }
}

@media (max-width: 500px) {
  .footer-container {
    flex-direction: column;
    gap: 2rem;
  }

  .footer-left {
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  .footer-right {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}


/* modal-body   */
.modal {
  background-color: rgba(32, 32, 32, .85);
}

.modal-dialog {
  max-width: none; 
  top: 25%
}
.project-modal {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;

  &__left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    padding: 20px 0px 120px 0px;
  }
}

.vertical {
  border-left: 1px solid black;
}

.modal-project-title {
  font-size: 2em;
  font-weight: bold;
}

.modal-project-subtitle{
  font-size: 1em;
  font-weight: bold;
}

.project-img {
  width: 100%;
}

.modal-lg {
  width: 1200px;
}